* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  --color1: #fff;
  --color2: #181818;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color2);
  padding: 12px 20px;
}
.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
  .menu {
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: var(--color2);
      transition: all 0.2s ease-in-out;
  }

  .nav-bar{
    justify-content: space-between;
  }
  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}



.tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: 700;
  padding-top: 20px;


}
.image{
  height: 300px;
  width: 400px;
}
.para{
  margin-top: -20px;
}

.banner{
  background-image: url("https://images.unsplash.com/photo-1512586175314-701bd44f8440?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1997&q=80");
  background-position: center, bottom;
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.image1{
  height: 350px;
  width: 400px;
}

.image-box {
  width: 450px;
  height: 500px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  background-color: aliceblue;
}
.main-card a{
  color: black;
  text-decoration: none;
}

.main-card {
  
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  margin-top: -20px;

}


.fot{
  color: white;
  font-weight: 400;

}

.fotter {
  /* margin-top: 100px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 10px 14px;
  background:rgba(0,0,0,0.7) url("./images/footer.jpg");
  width: 100vw;
  height: fit-content;
background-position: bottom;
background-blend-mode:darken;

}
.fotter1{
  padding-top: 20px;

}
.para{
  padding-left: 20px;
  padding-right: 20px;
}
.fotter a {
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 468px) {
  .fotter {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    padding: 10px 14px;
  }
}



/* .main-card{
    display: flex;
    gap: 50px;
  } */
/* .card{
    width: 300px;
    height: 500px;
    border: 1px solid red;
  } */
